<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skid.cc</title>
    <meta content="Skid.cc" property="og:title">
    <meta content="Best RageMP Leaks and Custom Scripts" property="og:description">
    <meta content="https://skidscripts.github.io/Skid.cc/" property="og:url">
    <meta content="https://skidscripts.github.io/Skid.cc/" property="og:image">
    <meta content="#008080" data-react-helmet="true" name="theme-color">
    <link rel="stylesheet" href="style.css">
    <script src="vue.js"></script>
</head>
<body>
    <div id="body">
        <img id="CenteredLogo" src="./img/logo.png">
        <div class="Scripts-Container">
            <div style="float: left;" class="Scripts-Button" id="Scripts-Free" onclick="if(Site.currentPopup == -1)Site.setPopup(0)">
                <img style="height: 41%;" class="Scripts-Logo" src="./img/free.png"><br>
                <h1 class="Scripts-Text">Free Scripts</h1>
            </div>
            <div style="float: right;" class="Scripts-Button" id="Scripts-Paid" onclick="if(Site.currentPopup == -1)Site.setPopup(1)">
                <img class="Scripts-Logo" src="./img/paid.png">
                <h1 class="Scripts-Text">Paid Scripts</h1>
            </div>
        </div>
        <div class="Scripts-List-Box" v-if="currentPopup == 0 || currentPopup == 1" transition="fade">
            <div class="Scripts-Header"><h1 v-if="currentPopup == 0">Free Scripts</h1><h1 v-if="currentPopup == 1">Paid Scripts</h1><img src="./img/exit.svg" onclick="Site.setPopup(-1)"></div>
            <div class="Scripts-List">
                <div class="Scripts-Item" onclick="Site.setPopup(2); Site.setCurrent(this, true)" v-for="item in freeScripts" v-if="currentPopup == 0"><h1>{{ item.name }}</h1><h2>{{ item.date }}</h2></div>
                <div class="Scripts-Item" onclick="Site.setPopup(2); Site.setCurrent(this, false)" v-for="item in paidScripts" v-if="currentPopup == 1"><h1>{{ item.name }}</h1><h2>{{ item.date }}</h2><h3>{{ item.price }}$</h3></div>
            </div>
        </div>
        <div class="Scripts-List-Box" v-if="currentPopup == 2">
            <div class="Scripts-Header"><h1>{{ currentScript.name }}</h1><img src="./img/exit.svg" onclick="Site.setPopup(-1)"></div>
            <div class="Script-Center">
                <div id="Script-Desc"><h1>{{ currentScript.desc }}</h1></div>
                <div id="Script-Price"><h1>Price: {{ currentScript.price }}$</h1></div>
                <div class="Script-Buy" v-if="currentScript.price > 0">Buy now!</div>
                <div class="Script-Buy" v-if="currentScript.price == 0" onclick="Site.download()">Download</div>
            </div>
        </div>
        <div id="top-bar">
            <img src="./img/logo-s.png" class="top-bar-logo">
            <h1 id="top-bar-text">SKID.CC</h1>
            <a href="http://discord.gg/SfU2vtmerK"><img class="top-bar-text2" src="./img/discord.png"></a>
            <a href="https://www.youtube.com/channel/UCiSqBC3twYOuGGzNimjmPbA"><img style="height: 100%;margin-top: -0.1%;" class="top-bar-text2" src="./img/youtube.png"></a>
            <a href="https://twitter.com/cc_skid"><img style="height: 70%;margin-top: 0.45%;" class="top-bar-text2" src="./img/twitter.png"></a>
        </div>
    </div>
</body>
<script src="app.js"></script>
</html>