@font-face {
    font-family: 'skid';
    src: url(./fonts/Poppins-Regular.731a28a4.ttf);
}
* {
    font-family: 'skid';
    font-size: 19px;
    font-weight: 300;
    outline: none;
    margin: 0;
    padding: 0;
    user-select: none;
    color: rgb(240, 240, 240);
}
body {
    width: 100%;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    background-image: url(./img/background.png);
    background-size: 100%;
}
#body {
    width: 100%;
    height: 100%;
}
::-webkit-scrollbar {
    width: 0px;
}
#top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7%;
    background-color: rgba(0, 0, 0, 0.85);
    line-height: 340%;
    border-bottom: 1.5px solid cyan;
}
#top-bar-text {
    font-size: 25px;
    margin-left: 1%;
    float: left;
}
.top-bar-text2 {
    width: auto;
    height: 80%;
    margin-top: 0.3%;
    font-size: 25px;
    margin-right: 1%;
    float: right;
    text-decoration: none;
}
#top-bar-text2:hover {
    cursor: pointer;
    color: teal;
}
#CenteredLogo {
    position: absolute;
    left: 50%;
    top: 40%;
    width: 302px;
    height: 330px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.Scripts-Container {
    position: absolute;
    left: 50%;
    top: 78%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 30%;
    height: 25%;
}
.Scripts-Button {
    width: 45%;
    height: 100%;
    background-color: rgb(24, 24, 24);
    border-radius: 13px;
    -webkit-box-shadow: -1px 3px 18px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 3px 18px 1px rgba(0,0,0,0.75);
    box-shadow: -1px 3px 18px 1px rgba(0,0,0,0.75);
    text-align: center;
    border: 2px solid transparent;
    transition: 400ms;
}
.Scripts-Button:hover {
    cursor: pointer;
}
#Scripts-Free:hover {
    border: 2px solid cyan;
}
#Scripts-Paid:hover {
    border: 2px solid rgb(255, 102, 0);
}
.Scripts-Logo {
    margin-top: 23%;
    width: auto;
    height: 40%;
}
.top-bar-logo {
    width: auto;
    height: 70%;
    float: left;
    margin-top: 0.5%;
    margin-left: 1%;
}
.Scripts-List-Box{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -webkit-box-shadow: -1px 3px 18px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 3px 18px 1px rgba(0,0,0,0.75);
    box-shadow: -1px 3px 18px 1px rgba(0,0,0,0.75);
    width: 40%;
    height: 55%;
    background-color: rgb(24, 24, 24);
    border-radius: 13px;
    transition: 500ms;
}
.Scripts-Header {
    width: 95%;
    height: 10%;
    font-size: 27px;
    margin-left: 5%;
    margin-top: 2%;
}
.Scripts-Header>h1 {
    font-size: 27px;
    float: left;
}
.Scripts-Header>img {
    float: right;
    height: 50%;
    width: auto;
    margin-right: 6%;
    margin-top: 1%;
}
.Scripts-Header>img:hover {
    cursor: pointer;
}
.Scripts-List {
    width: 90%;
    height: 80%;
    border-top: 1px solid grey;
    margin-left: 5%;
}
.Scripts-Item {
    width: 100%;
    height: 12%;
    border-bottom: 1px solid grey;
    line-height: 250%;
    text-indent: 2%;
}
.Scripts-Item>h1 {
    width: 50%;
    float: left;
}
.Scripts-Item:hover>h1 {
    cursor: pointer;
    color: teal;
}
.Scripts-Item>h2 {
    float: right;
    margin-right: 2%;
}
.Scripts-Item>h3 {
    float: right;
    margin-right: 4.5%;
}
.Script-Center {
    width: 90%;
    height: 80%;
    margin-left: 5%;
}
#Script-Desc {
    margin-top: 3%;
    width: 80%;
    min-height: 25%;
    height: auto;
    float: left;
}
#Script-Price {
    margin-top: 6%;
    width: 80%;
    height: 10%;
    float: left;
}
.Script-Buy {
    width: 50%;
    height: 20%;
    background-color: rgb(31, 31, 31);
    transition: 400ms;
    float: left;
    text-align: center;
    font-size: 30px;
    line-height: 270%;
    border-radius: 7px;
    margin-left: 25%;
    margin-top: 15%;
    border: 1px solid transparent;
}
.Script-Buy:hover {
    cursor: pointer;
    width: 50%;
    height: 20%;
    background-color: rgb(44, 44, 44);
    border: 1px solid teal;
}